<h1>State List</h1>

<p>Here is a list of states...</p>
<form>
<select name="State">
	<option value= <% @states.each do |state| %>
					<%= state[:id]%>
					>
					<%= state[:name]%>
					<%end%>
	</option>
</select>
</form>

<!-- iterate through each state in the array and put them into list items individually -->

