<!DOCTYPE html>
<html>
<head>
  <title>Homework</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>

<div id="wrapper">

  <header>
    <h1>MGTI Homwork: Hashes</h1>
  </header>

  <main>
    <div id="content">
      <div class="content-padding">
        <%= yield %>
      </div>
    </div>
  </main>

  <footer>
      <p class="content-padding">MGTI 40660 Ruby Homework | <a href="/">Home</a></p>
  </footer>

</div>
</body>
</html>
